#ifndef SECRETS_H
#define SECRETS_H

// WiFi credentials
const char* ssid = "YOUR_WIFI_SSID";
const char* password = "YOUR_WIFI_PASSWORD";

// WiZ bulb IP addresses (find in WiZ app -> bulb settings)
const IPAddress STUDY_LAMP(192, 168, 0, 0);
const IPAddress UPLIGHT(192, 168, 0, 0);

#endif
